/*home page*/
body.home {
	background-image: url(../images/background.png);
	background-size: 1540px 750px;
	background-repeat:no-repeat;
}

header {
    top: 0;
    left: 0;
    right: 0;
	height: 50px;
	box-shadow: 0 0 15px 0 rgb(71, 45, 218);
}

header li {
	float: right;
	margin-right: 30px;
	list-style-type: none;	
}

header li a, .member-name {
	text-decoration: none;
	display: inline-block;
	font-family: 'Nova Mono', monospace;
	font-size: 16px;
	padding-top: 10px;
	color: white;
}
header li a:hover {
	color: blue;
}

.title {
	font-family: 'Fredericka the Great', cursive;
	font-size: 75px;
	color: #eb5814; 
	margin-left: 15px;
}

.word {
	margin-left: 250px;
	width: 400px;
	height: 40px;
	font-family: 'Acme', sans-serif;
	font-size: 18px;	
	border-radius: 7px;
	border: none;
	font-style: italic;
	padding-left: 8px;
}
#myList {
	font-family: 'Acme', sans-serif;
	font-size: 18px;
	height: 45px;
	border-radius: 7px;
	border: none;
}

.word:focus {
	box-shadow: 0 0 5px 5px hsl(64, 94%, 70%); 
}

#myList:focus {
	box-shadow: 0 0 5px 5px hsl(64, 94%, 70%); 
	
}
.search-wrapper {
	display: inline-block;
	margin-left: 100px;
}

.button {
	text-decoration: none;
	color: white;
	background: rgb(66, 35, 243);
	padding: 15px 40px;
	border-radius: 6px;
	font-weight: normal;
	text-transform: uppercase;
	transition: all 0.2s ease-in-out;
	margin-right: 20px;
	border: none;
  }
  
.glow-button:hover {
	color: white;
	box-shadow: 0 0 5px 5px rgb(66, 35, 243);
}

.image {
	float: right;
	margin-right: 200px;
}
.card {
	display: inline-flex;
}
.cardDiv {
    box-shadow: 0 3px 3px  rgb(24, 24, 22);
	max-width: 300px;
	text-align: center;
	margin-left: 50px;
	border-radius: 8px;
	background-color: rgb(245, 245, 181);
	margin-top: 15px;
}
.titleDiv {
	display:inline;
}
.card-title {
	font-family: 'Nova Mono', monospace;
	color: rgb(0, 0, 0);
	background-color: rgb(247, 225, 30);
	width: 300px;
	border: none;
	height: 35px;
	font-size: 20px;
	padding-top: 5px;
	border-radius: 5px;
	margin-top: 0;
}

.card img {
	width: 200px;
	height: 200px;
}
.cardDiv p {
	font-size: 18px;
}
#speaker {
	height: 40px;
	width: 40px;
	border-radius: 5px;
	border: none;
}

/*login page */

body.login {
	background-image: url(../images/login.jpg);
	background-size: 1540px 750px;
	background-repeat:no-repeat;
}
h4 {
	text-align: center;
	color: blue;
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	padding-top: 20px;
}
.login-wrapper {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 0 15px 0 rgb(71, 45, 218);
  margin-left: 20px;
}

.form-wrapper {
	position: absolute;
	margin: 15px 50px 15px;
	text-align: center;
}

.email-wrapper {
	margin-bottom: 15px;
}

#email-input, #password-input {
	height: 30px;
	width: 200px;
	border-radius: 5px;
	padding: 5px;
}

.btn {
	position: absolute;
	margin: 140px 100px  15px;
	text-align: center;
	border-radius: 30px;
	height: 50px;
	width: 100px;
	font-size: 20px;
	color: white;
	border: none;
	background-color: rgb(137, 12, 187);
}

/*dashboard page */

body.dashboard {
	background-image: url(../images/dashboard.png);
	background-size: 1540px 750px;
	background-repeat:no-repeat;
}

.save {
	margin-left: 40px;
	text-align: justify;
	padding: 10px 15px;
}

/*signup page */

body.signup {
	background-image: url(../images/signup.jpg);
	background-size: 1540px 800px;
	background-repeat:no-repeat;
}

#email, #password {
	height: 30px;
	width: 200px;
	border-radius: 5px;
	padding: 5px;
}

.signup-wrapper {
	position: relative;
	width: 300px;
	height: 300px;
	border-radius: 10px;
	box-shadow: 0 0 15px 0 rgb(71, 45, 218);
	margin-left: 20px;
  }



