.list-group-item {
	line-height: 2.5;
}
body {
	background: linear-gradient(90deg, rgba(2, 0, 36, 1) 24%, rgba(29, 189, 161, 1) 63%);
}

.hero {
	/* float: center; */
	/* margin-left: 350px; */
}
.title {
	font-family: 'Fredericka the Great', cursive;
	font-size: 75px;
	color: #f29909;
}
#title {
	font-family: 'Fredericka the Great', cursive;
	font-size: 75px;
	color: #f29909;
}
.collapsible,
.dropdown,
.save {
	margin-left: 1000px;
	font-family: 'Indie Flower', cursive;
}
.mainB {
	background-color: white;
	/* color: #f29909; */
	font-family: 'Indie Flower', cursive;
	font-size: 15px;
}
.dropdown {
	background-color: #61cd20;
	color: black;
}
.singIn {
	font-family: 'Indie Flower', cursive;
}
.dropdown-item,
.validate,
.text {
	color: black;
	font-family: 'Indie Flower', cursive;
}

.singup {
	float: center;
}
.validate {
	margin-left: 350px;
	width: 550px;
	height: 25px;
	font-size: 15px;
}

.submit {
	margin-left: 650px;
}
.text {
	margin-left: 350px;
	width: 550px;
	height: 25px;
	font-size: 15px;
}
.text2 {
	font-size: 25px;
	color: white;
	font-family: 'Indie Flower', cursive;
	margin-left: 350px;
}
.word {
	margin-left: 350px;
	width: 550px;
	height: 25px;
	font-family: 'Indie Flower', cursive;
	font-size: 15px;
}
#myList {
	font-family: 'Indie Flower', cursive;
	font-size: 15px;
}
#myList,
#input_text {
	display: inline-block;
}

.mainB {
	float: right;
}

.mainS {
	margin-right: 230px;
	float: right;
	background-color: white;
	/* color: #f29909; */
	font-family: 'Indie Flower', cursive;
	font-size: 15px;
}

.card {
	background-color: white;
	font-family: 'Indie Flower', cursive;
	font-size: 15px;
	margin-top: 55px;
}

.saveA {
	background-color: white;
	font-family: 'Indie Flower', cursive;
	font-size: 15px;
	float: right;
	margin-left: 25px;
}

.dropdown {
	display: inline-block;
	position: relative;
}

.dd-button {
	display: inline-block;
	border: 1px solid gray;
	border-radius: 4px;
	padding: 10px 30px 10px 20px;
	background-color: #ffffff;
	cursor: pointer;
	white-space: nowrap;
}

.dd-button:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 15px;
	transform: translateY(-50%);
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid black;
}

.dd-button:hover {
	background-color: #eeeeee;
}

.dd-input {
	display: none;
}

.dd-menu {
	position: absolute;
	top: 100%;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 0;
	margin: 2px 0 0 0;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
	background-color: #ffffff;
	list-style-type: none;
	width: 200px;
	height: 144px;
}

.dd-input + .dd-menu {
	display: none;
}

.dd-input:checked + .dd-menu {
	display: block;
}

.dd-menu li {
	padding: 10px 20px;
	cursor: pointer;
	white-space: nowrap;
}

.dd-menu li:hover {
	background-color: #f6f6f6;
}

.dd-menu li a {
	display: block;
	margin: -10px -20px;
	padding: 10px 20px;
}

.dd-menu li.divider {
	padding: 0;
	border-bottom: 1px solid #cccccc;
}
